name: Deploy

on:
  workflow_dispatch:
    inputs:
      target_environment:
        required: true
        default: "staging"
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Fix permission
        run: chmod +x ./scripts/create_file.sh

      - name: Get input
        run: |
          echo "Environment: ${{ github.event.inputs.target_environment }}"

      - name: Run shell script
        run: ./scripts/create_file.sh "${{ github.event.inputs.target_environment }}"
        shell: bash

      - name: List files
        run: |
          for file in *; do
            if [ -f "$file" ]; then
              printf "%s\n" "${file%.*}" >> test.txt
            fi
          done

      - name: Output text
        run: cat test.txt
