name: Deploy

on:
  workflow_dispatch:
    inputs:
      target_environment:
        required: true
        default: "staging"
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Fix permission
        run: chmod +x ./scripts/create_file.sh

      - name: Get input
        run: |
          echo "Environment: ${{ github.event.inputs.target_environment }}"

      - name: Run shell script
        run: ./scripts/create_file.sh "${{ github.event.inputs.target_environment }}"
        shell: bash

      - name: Output text
        run: cat test.txt
